.app {
  position: relative;
  width: 1200px;
  height: 800px;
  top: 100px;
  left: 100px;
  border: 1px solid #000000;
}

.box-list {
  position: absolute;
  height: 100%;
  width: 20%;
}

.elem {
  cursor: pointer;
  font-size: 14px;
  padding: 80px 60px;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
}

.box-list-elem {
  margin-left: 30px;
  margin-top: 16px;
  background-color: cadetblue;
}

.draggable-elem {
  background-color: chocolate;
}

.draggable-area {
  height: 100%;
  width: 80%;
  position: absolute;
  background-color: #282c34;
  left: 20%;
}

